CompileFlags:
  CompilationDatabase: "build"

  Remove: 
    - "-fno-shrink-wrap"
    - "-fno-shrink-warp"
    - "-fstrict-volatile-bitfields"
    - "-fno-tree-switch-conversion"
    - "-march=*"
    - "-mabi=*"

Index:
  Background: Build